<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Meow-INT-ACCESSIBILITY.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Meow-INT.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Meow-PROD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Meow-STAGING.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B0B2B0F1EAFEA1700422290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3570891F71DD6B00049FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B35709D1F71DDAE00049FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B904F701EDFE9A600E01EC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B904F831EDFEA6F00E01EC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B904F961EDFEAEC00E01EC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBF747E1FBF720000761529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BEBFD821EF1B3F600445383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF8FAF01F59D074006D9A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
